<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.8.6/dist/htmx.min.js"></script>
    <title>Étude de fonction</title>
    <script src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../static/js/script.js" defer></script>
    <style>
        .up,
        h1 {
            text-align: center;
        }

        main {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            justify-content: center;
            opacity: 0;
        }

        main.htmx-added {
            opacity: 1;
            transition: all 1s ease;
        }
    </style>
</head>

<body>
    <button id="showhelp" style="font-size: 2em;">Aide</button>
    <div id="help-container">
        <p id="help">
            fraction \(\frac{numérateur}{dénominateur}\): numérateur / dénominateur
            <br>
            multiplication (\(\times\)): * //Faites ça même pour 2x
            <br>
            addition (\(+\)): +
            <br>
            soustraction (\(-\)): - (tiret du milieu)
            <br>
            puissance (\(^x\)): **puissance
            <br>
            racine carré (\( \sqrt{x} \)): sqrt(expression)
            <br>
            infini (\(\infty\)) :oo
            <br>
            expo (\( e \)) :exp(x)
        </p>
    </div>
    <h1>Étude de fonction</h1>
    <div class="up">
        <p>
            Résout automatiquement les questions classiques d'étude de fonction
        </p>
        <div id="will change">
            <form hx-post="/calculate/étude" hx-target="main" hx-swap="innerHTML swap:1s">
                <label for="fonction">
                    <h2>Entrer la fonction</h2><input type="text" placeholder="f(x)" style="width: 80%;" id="finput"
                        name="fonction">
                </label>
                <br>
                <button id="submit-btn" type="submit">calculer</button>
            </form>
        </div>
        <br><br><br>


        <div style="display: none;" id="trigger-div" hx-get="/fetch-content" hx-trigger="click" hx-target="#result">
            <button id="trigger-button">Click me to load content</button>
        </div>
        <main id="content">
        </main>
        <div id="feedback-container" style="position:relative;bottom: 500px;">
            <h3>Est ce que vous appreciez l'application ?</h3>
            <form id="feedback-form" hx-post="/feedback" hx-target="#feedback-container" hx-swap="innerHTML">
                <label for="yesanswer">
                    Oui
                    <input type="radio" name="answer" value="yes" required>
                </label>
                <label for="noanswer">
                    Non
                    <input type="radio" name="answer" value="no" required>
                </label>
                <br>
                <label for="suggestion">
                    <textarea name="suggestion" value="reason"
                        placeholder="Dites nous ce que vous en pensez"></textarea>
                </label>
                <br>
                <button id="submitbtn" type="submit">Valider avis</button>
            </form>

        </div>
</body>
<script>
    document.body.addEventListener("htmx:beforeSwap", function () {
        const main = document.querySelector("main")
        main.innerHTML = "<h2>Traitement de la fonction</h2>"
    })
    document.querySelector("main").addEventListener('htmx:afterSwap', function () {
        MathJax.typesetPromise();
    })
    document.body.addEventListener('htmx:afterSwap', function (evt) {
        if (evt.detail.target.id === 'content') {
            MathJax.typesetPromise();
            evt.detail.target.classList.add('htmx-added');
        }
    })
    document.body.addEventListener('htmx:responseError', function (event) {
        const main = document.querySelector("main")
        const status = event.detail.xhr.status // HTTP status code
        const statusText = event.detail.xhr.statusText // HTTP status text

        main.innerHTML = `<h2>Erreur ${status}: ${statusText}</h2>`;
    })
</script>

</html>